.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(231, 205, 166);
   border-radius: 5px;
}
#btn {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgb(218, 185, 137);
  border:coral
}